    @import 'bootstrap.css';
    .miImagenBA {
        opacity: 0.5;
    }
    
    .miH6 {
        font-size: x-small;
    }
    
    .miH5 {
        font-size: small;
    }
    
    .miCuadro {
        font-size: larger;
        resize: none;
    }
    
    .miLink {
        text-decoration-style: dotted;
    }
    
    .miBuenosAires {
        font-size: x-small;
    }
    
    .miFooter {
        background: -moz-linear-gradient(to right, rgb(1, 13, 49), rgb(2, 31, 85));
        opacity: 0.75;
        justify-items: center;
        justify-content: center;
        align-content: space-between;
        display: flex;
    }
    
    .miEscalaForm {
        transform: scale(0.9);
    }
    
    .miEscalaCards {
        transform: scale(0.9);
    }
    
    .miBotonEnviar {
        background-color: rgb(60, 175, 7);
    }
    
    .misBotonesCardsWhite {
        color: white;
        font-weight: bold;
    }
    
    .misBotonesCardsBlack {
        color: black;
        font-weight: bold;
    }
    
    .miNavLink {
        color: white;
        font-size: small;
        text-decoration: none;
    }
    
    .ocultarSeccion {
        display: none
    }
    
    .miHeader {
        background-color: rgb(85, 84, 84);
        opacity: 0.75;
        align-content: space-between;
        display: flex;
    }
    
    .miEstiloInfo {
        border-color: blue;
    }
    
    .miEstiloSelected {
        border-color: gold;
    }
    
    .miTitulo {
        font-size: large;
        font-weight: bold;
        text-align: center;
    }
    
    .miTextoTarjeta {
        font-size: medium;
        font-weight: normal;
        text-align: center;
        color: black;
    }
    
    .miTextoTarjetaGris {
        font-size: medium;
        font-weight: normal;
        text-align: center;
        color: darkgray;
    }
    
    .miTotalAPagar {
        background-color: aquamarine;
        font-style: normal;
        font-size: large;
        color: darkblue;
        font-weight: bold;
    }
    
    .miBorde {
        border-color: coral;
        background-color: azure;
    }